export PROJECT_ROOT_PATH="$(pwd -P)"
export PROJECT_VENV_PATH="${PROJECT_ROOT_PATH}/.venv"
export PROJECT_FIGURES_PATH="${PROJECT_ROOT_PATH}/figures"
export PROJECT_CACHE_PATH="${PROJECT_ROOT_PATH}/cache"
export PROJECT_DATA_PATH="${PROJECT_ROOT_PATH}/data"
export PROJECT_EXPERIMENTS_PATH="${PROJECT_ROOT_PATH}/experiments"

export PYTHONPYCACHEPREFIX="${PROJECT_CACHE_PATH}/pycache"

export JOBLIB_CACHE_DIR="${PROJECT_CACHE_PATH}/joblib_cache"

export GNUPLOT_LIB=${GNUPLOT_LIB}:"${PROJECT_ROOT_PATH}"

# Default: x64, can be overridden by script
export JAX_ENABLE_X64=1

export JAX_LOG_COMPILES=0

export XLA_PYTHON_CLIENT_PREALLOCATE=false
export XLA_PYTHON_CLIENT_ALLOCATOR=cuda_async

export JAX_COMPILATION_CACHE_DIR="${PROJECT_CACHE_PATH}/jax_cache"