export PROJECT_ROOT_PATH="$(pwd -P)"
export PROJECT_FIGURES_PATH="${PROJECT_ROOT_PATH}/figures"
export PROJECT_CACHE_PATH="${PROJECT_ROOT_PATH}/cache"

export PYTHONPYCACHEPREFIX="${PROJECT_CACHE_PATH}/pycache"

export JOBLIB_CACHE_DIR="${PROJECT_CACHE_PATH}/joblib_cache"

export JAX_ENABLE_X64=1
export JAX_COMPILATION_CACHE_DIR="${PROJECT_CACHE_PATH}/jax_cache"