.__pycache__/
.pytest_cache/
.venv/
figures/

manuscript/library.bib
manuscript/thesis.pdf
manuscript/template/
manuscript/misc/
manuscript/figures

data/

# Python packaging artefacts
*.egg-info/
*.egg
build/
dist/