name: Deploy thesis files to GH pages

on:
  push:
    branches: [ main ]

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Build filtered deploy tree
        run: |
          mkdir site
          cd writing/thesis

          find . -type f \( -name "*.html" -o -name "*.pdf" \) \
            -exec cp --parents {} ../../site \;

      - uses: actions/upload-pages-artifact@v3
        with:
          path: site

      - uses: actions/deploy-pages@v4